.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    width: 700px;
    margin: 0 auto;
    margin-top: 80px;
}

.photo-container img {
    border-radius: 5px; 
    object-fit: cover; 
    width: calc(33.33% - 10px); 
    height: auto; 
}
.gallery-1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 55px;
}
.gallery-1 button{
    justify-content: space-between;
    background-color: white;
    border: none;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgb(172, 172, 172);
}
.text-gallery{
    text-align: center;
    margin-top: 80px;
}
@media (max-width: 768px) {
    .photo-container {
        gap: 10px; 
        width: 400px;
        margin: 0 auto;
        margin-top: 80px;
    }
}
@media (max-width: 425px) {
    .photo-container {
        gap: 10px; 
        width: 320px;
        margin: 0 auto;
        margin-top: 80px;
    }
}